<form #F="ngForm" (ngSubmit)="Save(F.value)" role="form">
    <legend>User Login</legend>
  <div class="container">
    <div class="form-group">
      <label for="">Username:</label>
      <input type="text" class="form-control" placeholder="Enter your email"
        name="username" [(ngModel)]="Model.username" #username="ngModel" required
      >
{{Model.username}}

        <!-- <p *ngIf="username.touched && username.errors.required">
          Email is required.
        </p> -->
        <!-- <div *ngIf="username.errors.minlength" class="alert alert-danger">
          Email must be minimum 3 characters
        </div> -->

<br>
      <label for="">Password:</label>
      <input type="password" class="form-control" placeholder="Enter your password"
        name="password" [(ngModel)] = "Model.password" #password="ngModel" required
      >
      <br>
      {{Model.password}}
    </div>
    <!-- <div *ngIf="password.touched && password.errors.required" class="alert alert-danger">
      Password is required.
    </div> -->
    
  
    <button type="submit" class="btn btn-primary"
    [disabled]="!F.valid"
    >Submit</button>
  </div>
  </form>