<div class="container" style='background-color: #f2f2f2; border-radius: 15px; border: 200px thick black;'>
    <!-- Search module -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
           
            <input type="search" [(ngModel)]="searchFilter.name" class="form-control" placeholder="Enter product name to search"><br>
            <div *ngIf="searchFilter.name">
                    <div class="panel panel-info" *ngFor= "let prod of pgData.productData | filterBy : searchFilter">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{prod.name | uppercase}}</h3> 
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li><span style="font-weight: bold;">Description</span>: {{prod.description}}</li>
                                    <li><span style="font-weight: bold;">Price</span>: {{prod.price  | currency:'INR'}}</li>
                                    <li *ngIf = "prod.isTodayOffer == true"><span style="font-weight: bold;">Offer price</span>: {{prod.offerPrice  | currency:'INR'}}</li>
                                    <li><span style="font-weight: bold;">Category</span>: {{prod.category}}</li>
                                    <li><span style="font-weight: bold;">Sub-category</span>: {{prod.subCategory}}</li>
                                    <li><span style="font-weight: bold;">Availablility</span>: {{prod.isAvailable}}</li>
                                    <li><span style="font-weight: bold;">Offer available</span>: {{prod.isTodayOffer}}</li>
                                    <li><span style="font-weight: bold;">Entry date</span>: {{prod.recordDate}}</li>                                      
                                    <li *ngIf = "prod.updatedDate"><span style="font-weight: bold;">Last updated</span>: {{prod.updatedDate}}</li>
                                </ul>
                                
                                <button type="button" class="btn btn-primary" (click)="updateProduct(prod)">Update product</button>
                                <button type="button" class="btn btn-danger"  (click)="deleteProduct(prod)">Delete</button>
                                <div class="well" *ngIf="deleteProd == true && prod._id == deleteProdId">
                                    <p>Are you sure you want to delete the {{prod.name}}?</p> <br>
                                      <button type="button" class="btn btn-danger" (click)="proceedDeleteProduct()">Yes</button>
                                
                                      <button type="button" class="btn btn-success"  (click)="cancelDeleteProduct()">No</button>
                                </div>
                                <div class="well" *ngIf="updateProd == true && prod._id == updateProdId">
                                      <form [formGroup]="formGrpUpdate" (ngSubmit)="updateNewProduct(formGrpUpdate.value)">
                                              <p>Enter the following mandatory fields to update*</p>
                                              <div class="form-group">
                                                  <input class="form-control input-sm" type="text" name="name" formControlName="name" placeholder="Enter product name" required>
                                              </div>
                                              <div class="form-group">
                                                  <input class="form-control input-sm" type="text" name="description" formControlName="description" placeholder="Enter product description" required>
                                              </div>
                                              <div class="form-group">
                                                  <input class="form-control input-sm" type="number" name="price" formControlName="price" placeholder="Enter product price" required>
                                              </div>
                                              <div class="form-group">
                                                  <input class="form-control input-sm" type="number" name="offerPrice" formControlName="offerPrice" placeholder="Enter product offer price" required>
                                              </div>
                                              <div class="form-group">
                                                  <p>Is the product available? :</p><select name="isAvailable" formControlName="isAvailable" required>
                                                      <option value="true">Yes</option>
                                                      <option value="false">No</option>
                                                  </select>
                                              </div>
                                              <div class="form-group">
                                                  <p>Should the product be displayed in Today's Offer Section? :</p>
                                                  <select name="isTodayOffer" formControlName="isTodayOffer" required>
                                                      <option value="true">Yes</option>
                                                      <option value="false">No</option>
                                                  </select>
                                              </div>
                                              <div class="form-group">
                                                   <p>Subcategory :</p>
                                                      <select name="subCategory" formControlName="subCategory" required>
                                                      <option *ngFor="let sub of subCategories" value="{{sub.name}}">{{sub.name}}</option>
                                                  </select>
                                              </div>
                                              <div class="form-group">
                                                  <button [disabled]="!formGrpUpdate.valid" type="submit" class="btn btn-success">Update Product?</button>
                                                  <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                                              </div>
                                        </form>
                                </div>            
                            </div>                            
                    </div>
                    <div class="panel panel-danger" *ngIf="(pgData.productData | filterBy: searchFilter).length === 0">
                        <strong>No matching results found!</strong> <br>Press Esc to continue...
                    </div>                    
            </div>                                    
        </div>
    </div>
		<!-- Add new product -->
      <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
		        <button type="button" class="btn btn-primary" (click)="addProd()">Add New Product</button>
            </div>
      </div><br>
	  <div class="row" *ngIf="addNewProd === true">
            <div class="well">
                  <form [formGroup]="formGrp" (ngSubmit)="saveNewProduct(formGrp.value)">
                        <p>All the fields are mandatory*</p>
                        <div class="form-group">
                            <input class="form-control input-sm" type="text" formControlName="name" placeholder="Enter product name" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" type="file" (change)="fileUpload($event)" required>
                            <p>Image size must be less than 5 MB*</p>
                        </div>
                        <div class="form-group">
                                <input class="form-control input-sm" type="text" formControlName="productImage" value="{{this.fileURL}}">
                            </div>
                        <div class="form-group">
                            <input class="form-control input-sm" type="text" formControlName="description" placeholder="Enter product description" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" type="number" formControlName="price" placeholder="Enter product price" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" type="number" formControlName="offerPrice" placeholder="Enter product offer price" required>
                        </div>
                        <div class="form-group">
                            <p>Is the product available? :</p><select formControlName="isAvailable" required>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <p>Should the product be displayed in Today's Offer Section? :</p>
                            <select formControlName="isTodayOffer" required>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                             <p>Subcategory :</p>
                                <select formControlName="subCategory" required>
                                <option *ngFor="let sub of subCategories" value="{{sub.name}}">{{sub.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button [disabled]="!formGrp.valid" type="submit" class="btn btn-success">Add New Product?</button>
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                        </div>
                  </form>

            </div>
      </div>
      <!-- Pagination -->
      <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!searchFilter.name">
                
                    <p><strong>Total products currently available: {{pgData.totalProducts}}</strong></p> 
                      <div class="panel panel-info" *ngFor= "let prod of pgData.productData |  paginate: { itemsPerPage: pgData.perPage, currentPage: p, totalItems: pgData.totalProducts }">
                              <div class="panel-heading">
                                  <h3 class="panel-title">{{prod.name | uppercase}}</h3> 
                              </div>
                              <div class="panel-body">
                                  <ul>
                                      <li><span style="font-weight: bold;">Description</span>: {{prod.description}}</li>
                                      <li><span style="font-weight: bold;">Price</span>: {{prod.price  | currency:'INR'}}</li>
                                      <li *ngIf = "prod.isTodayOffer == true"><span style="font-weight: bold;">Offer price</span>: {{prod.offerPrice  | currency:'INR'}}</li>
                                      <li><span style="font-weight: bold;">Category</span>: {{prod.category}}</li>
                                      <li><span style="font-weight: bold;">Sub-category</span>: {{prod.subCategory}}</li>
                                      <li><span style="font-weight: bold;">Availablility</span>: {{prod.isAvailable}}</li>
                                      <li><span style="font-weight: bold;">Offer available</span>: {{prod.isTodayOffer}}</li>
                                      <li><span style="font-weight: bold;">Entry date</span>: {{prod.recordDate}}</li>                                      
                                      <li *ngIf = "prod.updatedDate"><span style="font-weight: bold;">Last updated</span>: {{prod.updatedDate}}</li>
                                  </ul>
                                  
                                  <button type="button" class="btn btn-primary" (click)="updateProduct(prod)">Update product</button>
                                  <button type="button" class="btn btn-danger"  (click)="deleteProduct(prod)">Delete</button>
                                  <div class="well" *ngIf="deleteProd == true && prod._id == deleteProdId">
                                      <p>Are you sure you want to delete the {{prod.name}}?</p> <br>
                                        <button type="button" class="btn btn-danger" (click)="proceedDeleteProduct()">Yes</button>
                                  
                                        <button type="button" class="btn btn-success"  (click)="cancelDeleteProduct()">No</button>
                                  </div>
                                  <div class="well" *ngIf="updateProd == true && prod._id == updateProdId">
                                        <form [formGroup]="formGrpUpdate" (ngSubmit)="updateNewProduct(formGrpUpdate.value)">
                                                <p>Enter the following mandatory fields to update*</p>
                                                <div class="form-group">
                                                    <input class="form-control input-sm" type="text" name="name" formControlName="name" placeholder="Enter product name" required>
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control input-sm" type="text" name="description" formControlName="description" placeholder="Enter product description" required>
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control input-sm" type="number" name="price" formControlName="price" placeholder="Enter product price" required>
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control input-sm" type="number" name="offerPrice" formControlName="offerPrice" placeholder="Enter product offer price" required>
                                                </div>
                                                <div class="form-group">
                                                    <p>Is the product available? :</p><select name="isAvailable" formControlName="isAvailable" required>
                                                        <option value="true">Yes</option>
                                                        <option value="false">No</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <p>Should the product be displayed in Today's Offer Section? :</p>
                                                    <select name="isTodayOffer" formControlName="isTodayOffer" required>
                                                        <option value="true">Yes</option>
                                                        <option value="false">No</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                     <p>Subcategory :</p>
                                                        <select name="subCategory" formControlName="subCategory" required>
                                                        <option *ngFor="let sub of subCategories" value="{{sub.name}}">{{sub.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <button [disabled]="!formGrpUpdate.valid" type="submit" class="btn btn-success">Update Product?</button>
                                                    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                                                </div>
                                          </form>
                                  </div>
                                  
                              </div>
                      </div>
                </div>
                <pagination-controls *ngIf="!searchFilter.name" (pageChange)="p = $event"></pagination-controls>
      </div>
      
</div>