<div class="container" style='background-color: #f2f2f2; border-radius: 15px; border: 200px thick black;'>
		<!-- Add new product -->
      <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
		        <button type="button" class="btn btn-primary" (click)="addProd()">Add Product</button>
            </div>
      </div>
	  <div class="row" *ngIf="addNewProd === true">
            <div class="well">
                  <form [formGroup]="formGrp" (ngSubmit)="saveAddProductForm(formGrp.value)">
                        <p>All the fields are mandatory*</p>
                        <div class="form-group">
                            <input class="form-control input-sm" type="text" name="name" formControlName="name" placeholder="Enter product name" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" type="text" name="image" formControlName="image" placeholder="Enter product image" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" type="text" name="description" formControlName="description" placeholder="Enter product description" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" type="number" name="price" formControlName="price" placeholder="Enter product price" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" type="number" name="offerPrice" formControlName="offerPrice" placeholder="Enter product offer price" required>
                        </div>
                        <div class="form-group">
                            <p>Is the product available? :</p><select name="isAvailable" formControlName="isAvailable" required>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <p>Should the product be displayed in Today's Offer Section? :</p>
                            <select name="isTodayOffer" formControlName="isTodayOffer" required>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                             <p>Subcategory :</p>
                                <select name="subCategory" formControlName="subCategory" required>
                                <option *ngFor="let sub of subCategories" value="{{sub.name}}">{{sub.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button [disabled]="!formGrp.valid" type="submit" class="btn btn-success">Add New Product?</button>
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                        </div>
                  </form>
            </div>
	  </div>
	  <!-- display all products -->
      <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                
                <p>Following are the products available:</p>  
                  <div class="panel panel-info" *ngFor= "let prod of products">
                          <div class="panel-heading">
                              <h3 class="panel-title">{{prod.name | uppercase}}</h3>
                             
                              <!-- <div class="alert alert-warning" *ngIf="{{prod.isTodayOffer}} == true">
                                  <strong>Offer available!</strong> Offer Price: {{prod.offerPrice  | currency:'INR'}}
                              </div> -->
                              
                          </div>
                          <div class="panel-body">
                              {{prod.description}}
                              <ul>
                                  <li>Price: {{prod.price  | currency:'INR'}}</li>
                                  <!-- <li>Offer Price: {{prod.offerPrice  | currency:'INR'}}</li> -->
                                  <!-- <li>Category: {{prod.category.catName}}</li> -->
                              </ul>
                              
                              <!-- <button type="button" class="btn btn-default">Add to cart</button> -->
                              <button type="button" class="btn btn-danger"  (click)="deleteProduct(prod)">Delete</button>
                              <div class="well" *ngIf="deleteProd == true && prod._id == deleteProdId">
                                  <p>Are you sure you want to delete the {{prod.name}}?</p> <br>
                                    <button type="button" class="btn btn-danger" (click)="proceedDeleteProduct()">Yes</button>
                              
                                    <button type="button" class="btn btn-success"  (click)="cancelDeleteProduct()">No</button>

                              </div>

                              
                          </div>
                  </div>
            </div>
      </div>

</div>