<div class="container" style='background-color: white;' >
        <ngx-spinner></ngx-spinner>
</div>
<div class="container" style='background-color: #f2f2f2; border-radius: 15px; border: 200px thick black;' *ngIf="isLoading === false">
        <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
           
                                        <input type="search" [(ngModel)]="searchFilter.name" class="form-control" placeholder="Enter product name to search"><br>
                                        <div *ngIf="searchFilter.name">
                                                <div class="panel panel-info" *ngFor= "let prod of pgData.productData | filterBy : searchFilter">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">{{prod.name | uppercase}}</h3> 
                                                        </div>
                                                        <div class="panel-body">
                                                            <img src="{{prod.productImage}}" class="img-responsive"><br>
                                                            <ul>
                                                                <li><span style="font-weight: bold;">Description</span>: {{prod.description}}</li>
                                                                <li><span style="font-weight: bold;">Price</span>: {{prod.price  | currency:'INR'}}</li>
                                                                <li *ngIf = "prod.isTodayOffer == true"><span style="font-weight: bold;">Offer price</span>: {{prod.offerPrice  | currency:'INR'}}</li>
                                                                <li><span style="font-weight: bold;">Category</span>: {{prod.category}}</li>
                                                                <li><span style="font-weight: bold;">Sub-category</span>: {{prod.subCategory}}</li>
                                                                <li><span style="font-weight: bold;">Availablility</span>: {{prod.isAvailable}}</li>
                                                                <li><span style="font-weight: bold;">Offer available</span>: {{prod.isTodayOffer}}</li>
                                                                <li><span style="font-weight: bold;">Entry date</span>: {{prod.recordDate}}</li>                                      
                                                                <li *ngIf = "prod.updatedDate"><span style="font-weight: bold;">Last updated</span>: {{prod.updatedDate}}</li>
                                                            </ul>  
                                                            <button type="button" class="btn btn-danger" (click)="a2c(prod._id)">Add to my cart</button>
                                                            <div class="well"  *ngIf="addToCart == true && prodId == prod._id">
                                                                <form [formGroup]="formGrp" (ngSubmit)="addToMyCart(formGrp.value)" role="form">
                                                                    <div class="form-group" formGroupName="cartDetails">
                                                                        <label>Quantity:</label>
                                                                        <input type="number" formControlName="quantity" placeholder="Quantity" required>
                                                                    </div>                                                    
                                                                <button [disabled]="!formGrp.valid" type="submit" class="btn btn-primary">Add</button>
                                                                </form> 
                                                            </div>          
                                                        </div>                            
                                                </div>
                                                <div class="panel panel-danger" *ngIf="(pgData.productData | filterBy: searchFilter).length === 0">
                                                    <strong>No matching results found!</strong> <br>Press Esc to continue...
                                                </div>                    
                                        </div>                                    
                                    </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!searchFilter.name"> 
                                <div class="panel panel-info" *ngFor= "let prod of pgData.productData |  paginate: { itemsPerPage: pgData.perPage, currentPage: p, totalItems: pgData.totalProducts }">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{prod.name | uppercase}}</h3> 
                                                </div>
                                                <div class="panel-body">
                                                      <img src="{{prod.productImage}}" class="img-responsive"><br>
                                                    <ul>
                                                        <li><span style="font-weight: bold;">Description</span>: {{prod.description}}</li>
                                                        <li><span style="font-weight: bold;">Price</span>: {{prod.price  | currency:'INR'}}</li>
                                                        <li *ngIf = "prod.isTodayOffer == true"><span style="font-weight: bold;">Offer price</span>: {{prod.offerPrice  | currency:'INR'}}</li>
                                                        <li><span style="font-weight: bold;">Category</span>: {{prod.category}}</li>
                                                        <li><span style="font-weight: bold;">Sub-category</span>: {{prod.subCategory}}</li>
                                                        <li><span style="font-weight: bold;">Availablility</span>: {{prod.isAvailable}}</li>
                                                        <li><span style="font-weight: bold;">Offer available</span>: {{prod.isTodayOffer}}</li>
                                                        <li><span style="font-weight: bold;">Entry date</span>: {{prod.recordDate}}</li>                                      
                                                        <li *ngIf = "prod.updatedDate"><span style="font-weight: bold;">Last updated</span>: {{prod.updatedDate}}</li>
                                                    </ul>
                                                    
                                                    <button type="button" class="btn btn-danger" (click)="a2c(prod._id)">Add to my cart</button>
                                                    <div class="well"  *ngIf="addToCart == true && prodId == prod._id">
                                                        <form [formGroup]="formGrp" (ngSubmit)="addToMyCart(formGrp.value)" role="form">
                                                            <div class="form-group" formGroupName="cartDetails">
                                                                <label>Quantity:</label>
                                                                <input type="number" formControlName="quantity" placeholder="Quantity" required>
                                                            </div>                                                    
                                                            <button [disabled]="!formGrp.valid" type="submit" class="btn btn-primary">Add</button>
                                                        </form> 
                                                    </div>                                                                                           
                                                </div>
                                        </div>
                                        <pagination-controls *ngIf="!searchFilter.name" (pageChange)="p = $event"></pagination-controls>
                </div>                        
        </div>       
</div>
<jw-modal id="cart" *ngIf="isLoading == false || updateToggle == true || deleteToggle == true">
    <h1>My Cart: ({{userCart.count}})</h1><p>Total checkout cost:</p><br>
    <div class="panel panel-primary" *ngFor="let cart of userCart.data">
          <div class="panel-heading">
                <h3 class="panel-title">{{cart.name}}</h3>
          </div>
          <div class="panel-body">
                <img src="{{cart.productImage}}" style="float:right;" class="img-responsive">
                <ul class="cartItems">
                    <li>Price: {{cart.price | currency:'INR'}}</li>
                    <li>Quantity: {{cart.quantity}}</li> 
                    <li>Total Price: {{cart.totalPrice | currency:'INR'}}</li>
                    <li>Added to cart: {{cart.recordDate}}</li>
                </ul>
                <button class="btn btn-warning" (click)=updateDiag(cart._id)>Update</button>
                <div *ngIf="updateToggle == true && updateProdId == cart._id">
                        <form [formGroup]="formGrpUpdate" (ngSubmit)="update(formGrpUpdate.value)">
                            <label>Quantity:</label>
                            <input type="number" formControlName="quantity" value="{{cart.quantity}}" required>
                            <button type="submit" [disabled]="!formGrpUpdate.valid" class="btn btn-success">Update Quantity</button>
                        </form>
                </div>
                <button class="btn btn-danger" (click)="removeDiag(cart._id)">Remove</button>
                <div class="well" *ngIf="deleteToggle == true && cart._id == deleteProdId">
                    <p>Remove from My Cart?</p>
                    <button class="btn btn-success" (click)="removeDiag(cart._id)">No</button>
                    <button class="btn btn-danger" (click)="removeConfirm()">Yes</button>                
                </div>
          </div>
    </div>
    <button class="btn btn-danger" (click)="closeModal('cart');">Close My Cart</button>
</jw-modal>
